* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    font-family: monospace;
    user-select: none;
    color: white;
    margin-top: 50px;
}

#geral {
    background-color: rgb(9, 103, 211);
    width: 500px;
    padding: 20px;
    margin: auto;
    text-align: left;
    border-radius: 34px;
    min-height: 200px;
}

h1 {
    font-size: 40px;
}

input {
    border-radius: 7px;
    margin-top: 10px;
    width: 65%;
    padding-left: 10px;
    height: 28px;
    font-family: monospace;
    outline: none;
    border: none;
    margin: 10px 0 10px 0;
}

button {
    font-family: monospace;
    height: 38;
    border-radius: 7px;
    padding: 0 10px;
    height: 28px;
    background-color: rgb(228, 151, 10);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(248, 161, 0);
}

button:active {
    background-color: rgba(248, 161, 0, 0.849);
}

.tarefas {
    cursor: pointer;
    width: 90%;
    text-align: left;
    margin: auto;
    font-size: 16px;
}

    @media screen and (max-width: 500px) {
       
       body {
        margin-top: 0;
       }
       
        #geral {
            border-radius: 0;
            height: 100vh;
            width: auto;
        }

       h1 {
        margin-left: 15px;
       }

      input {
        margin: 10px 0 10px 15px;
      }

    }